body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 10px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header h2 {
  font-weight: 700;
  font: Tangerine;
  margin: 0;
}

header h5 {
  font-weight: 700;
  margin: 20;
  padding: 50px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: Centre;
  background-image: url('https://images.unsplash.com/photo-1509024102370-fd7802f4a7a7');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  position: relative;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 40px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-grey {
  border-radius: 2px;
  border: 0px;
  color: black;
  text-shadow: none;
  background-color: #DCDCDC;
}

.btn.btn-grey:hover {
  color: black;
  background-color: #EEE8AA;
}

.btn.btn-primary:hover {
  color: black;
  background-color: #EEE8AA;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: black;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
